openapi: 3.0.3

info:
  title: RAP Fulfillment Bridge API
  version: 1.0.0
  description: |
    HTTP API exposed by the Spring Boot fulfillment engine at `designerplan.io`
    and consumed by the new storefront at `thedesignerplan.com` via Netlify
    Functions (BFF layer).

    **Auth:** server-to-server HMAC-SHA256 signatures on every request via
    three headers (`X-RAP-Signature`, `X-RAP-Timestamp`, `X-RAP-Key-Id`).
    Full contract + reference implementations in `docs/hmac-auth.md`.
    The user JWT issued by Supabase Auth never crosses this boundary; the
    BFF validates the JWT, then makes its own signed call here.

    **Trust model:**
    - This API is canonical for: payment creation, plan-number issuance,
      Stripe Connect onboarding, SOAR writes, commission ledger.
    - Supabase is canonical for: identity (partners.auth_user_id), marketing
      data (leads), dashboard surface state. The engine writes back
      `plan_number` to Supabase after each successful payment.

    **Versioning:** path-based `/v1/...`. Breaking changes ship as `/v2/...`
    in parallel; old version maintained for at least 90 days.

servers:
  - url: https://designerplan.io/api
    description: Production engine on Rackspace Tomcat 10
  - url: http://localhost:8080/api
    description: Local Spring Boot dev

# -----------------------------------------------------------------------------
# PATHS
# -----------------------------------------------------------------------------

paths:

  /v1/checkout:
    post:
      operationId: createCheckout
      summary: Create a Stripe PaymentIntent for a single-plan purchase
      description: |
        Called by the storefront's slide-out checkout panel (via the
        `cart-checkout` Netlify Function). Creates a Stripe PaymentIntent
        and returns the `client_secret` so the browser can complete the
        charge inline with Stripe Elements (no external redirect — the
        whole flow stays inside the slide-out).

        Plan-number issuance, SOAR write, and commission accounting all
        happen asynchronously on the Stripe `payment_intent.succeeded`
        webhook (unchanged from the existing engine).

        Pricing model: the engine is the SINGLE source of price truth.
        Given `plan_id` + `customer_cart_total_cents`, it resolves the
        plan price via `CommissionService.resolvePlanRetail()` — the SAME
        function that powers the public `GET /api/pricing` endpoint, so a
        preview shown to the user with `/api/pricing` always matches what
        gets charged here. The browser does NOT send the price; if it
        cannot find a matching price band, returns 422
        `price_not_available`.

        If `referral_code` is provided and resolves to a partner with a
        connected Stripe account, the engine creates the PaymentIntent
        with a `TransferData` block so the designer's commission is
        automatically transferred when the charge succeeds.
      tags: [Checkout]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
            examples:
              standardPurchase:
                summary: Plain purchase, no referral
                value:
                  plan_id: 4
                  customer_cart_total_cents: 500000
                  customer:
                    name: Jane Doe
                    email: jane@example.com
                    phone: "+15551234567"
              referralPurchase:
                summary: Purchase attributed to a designer
                value:
                  plan_id: 4
                  customer_cart_total_cents: 500000
                  customer:
                    name: Bob Smith
                    email: bob@example.com
                    phone: "+15555678901"
                  referral_code: ACME-STUDIO
      responses:
        '200':
          description: PaymentIntent created — browser uses client_secret to confirm with Stripe Elements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
              example:
                payment_intent_id: "pi_3O9pZkBVVsNLMXy4ILcMcDoT"
                client_secret: "pi_3O9pZkBVVsNLMXy4ILcMcDoT_secret_a1B2c3D4e5F6g7H8"
                amount_cents: 24900
                currency: usd
                commission_cents: 8715
                designer_attributed: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/BusinessRuleViolation' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/EngineError' }
        '502': { $ref: '#/components/responses/UpstreamUnavailable' }

  /v1/stripe-connect/start:
    post:
      operationId: startStripeConnect
      summary: Begin Stripe Connect Express onboarding for a partner
      description: |
        Generates a one-time onboarding URL the partner is redirected to so
        they can attach their bank account and enable commission payouts.

        The engine creates (or reuses) a Stripe Express account, generates an
        `AccountLink`, and stores an `expectedAccountId` in the partner's
        session record. The `session_token` returned here must be supplied to
        `/v1/stripe-connect/return` after the partner finishes onboarding, as
        anti-CSRF (a return URL alone is not sufficient — an attacker could
        craft one).
      tags: [StripeConnect]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConnectStartRequest'
            example:
              partner_id: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Onboarding URL ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectStartResponse'
              example:
                onboarding_url: "https://connect.stripe.com/setup/e/acct_1AbCdEfG/..."
                session_token: "stk_8f3a2c1b9e7d6"
                expires_at: "2026-05-22T15:30:00Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/EngineError' }
        '502': { $ref: '#/components/responses/UpstreamUnavailable' }

  /v1/stripe-connect/return:
    post:
      operationId: completeStripeConnect
      summary: Confirm Stripe Connect onboarding completion
      description: |
        Called by the BFF after the partner is redirected back from Stripe.
        The engine validates `session_token` matches what was stored at
        `/start`, queries Stripe for the account's current status, and
        updates the partner record. Returns the final connection state so
        the storefront can show appropriate copy ("connected" vs.
        "incomplete — finish in Stripe").
      tags: [StripeConnect]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeConnectReturnRequest'
            example:
              partner_id: "550e8400-e29b-41d4-a716-446655440000"
              session_token: "stk_8f3a2c1b9e7d6"
      responses:
        '200':
          description: Connection state evaluated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectReturnResponse'
              example:
                status: connected
                stripe_account_id: "acct_1AbCdEfG"
                charges_enabled: true
                payouts_enabled: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/UpstreamUnavailable' }

  /v1/partner/dashboard:
    post:
      operationId: getPartnerDashboard
      summary: Sales and commission feed for a designer, looked up by email
      description: |
        Powers the partner dashboard on thedesignerplan.com. The BFF
        (`dashboard-data` Netlify Function) validates the user's Supabase JWT,
        takes the email from the token, and calls this with that email in the
        body. The browser never calls this endpoint.

        **POST with a body, not GET with a query.** The HMAC filter signs
        `getRequestURI()` plus `getQueryString()` exactly as they arrive on
        the wire. An email carries `@`, which a client may send as `%40`, and
        one character of difference invalidates the signature. The body is
        hashed as bytes and has no such ambiguity.

        The engine resolves the email with `DealerServices.findDealerByAnyEmail`
        (DealerEmail first, KC_Email second, a designer row wins when several
        dealers share the email). Money is integer cents. `commission_status`
        is the four-value label the old dashboard shows, not the raw
        TransferStatus. The three buckets fall out of the status lifecycle:
        pending is `PENDING` or `PENDING_STRIPE_ONBOARD`, payable is
        `PROCESSING` or `TRANSFERRED`, paid is `COMPLETED`, tracked is their
        sum. `FAILED` and `CANCELLED` count in `total_sales` and appear in
        `commissions` but add to no bucket.

        If Stripe is unreachable the response is still 200: `stripe_status`
        degrades to `READY` when the dealer has an account id and
        `NOT_CONNECTED` when it does not. A designer with no sales is 200
        with zeros and an empty `commissions` array. All rows, newest first,
        no pagination in this phase.

        Field-by-field contract: `designer-plan-site/docs/dashboard-data-contract.md`,
        section A.
      tags: [Partner]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerDashboardRequest'
            example:
              email: adrian01@rapqa.com
      responses:
        '200':
          description: |
            Dashboard feed. `stripe_account_id` is omitted (not null) when
            the designer has no Stripe account, as in this example.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerDashboardResponse'
              example:
                dealer_id: 421
                affiliated_id: AB-RPFG
                dealer_name: Adrian Barres
                stripe_status: NOT_CONNECTED
                tracked_cents: 178840
                pending_cents: 93600
                payable_cents: 0
                paid_cents: 85240
                total_sales: 5
                commissions:
                  - plan_registration_id: 12345
                    purchase_date: "2026-09-09"
                    customer_last_name: Estevez
                    customer_email: qafake005@rapqa.com
                    plan_number: QAFAKE-W005
                    plan_type: Plan B
                    retail_paid_cents: 304000
                    commission_cents: 30400
                    commission_status: Pending
                    months_coverage: 36
                    months_remaining: 36
                    plan_sent: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/EngineError' }

# -----------------------------------------------------------------------------
# SECURITY — applied globally. Every operation requires all three headers.
# -----------------------------------------------------------------------------

security:
  - HmacSignature: []
    HmacTimestamp: []
    HmacKeyId: []

# -----------------------------------------------------------------------------
# COMPONENTS — schemas + securitySchemes. Error responses added in A.3.
# -----------------------------------------------------------------------------

components:

  securitySchemes:
    HmacSignature:
      type: apiKey
      in: header
      name: X-RAP-Signature
      description: |
        Hex-encoded HMAC-SHA256 over the signing string
        `METHOD\nPATH_AND_QUERY\nTIMESTAMP\nSHA256(BODY)`. The signing key
        is identified by `X-RAP-Key-Id`. Full contract in
        `docs/hmac-auth.md`. Missing or invalid → 401
        `{ "code": "invalid_signature" }`.
    HmacTimestamp:
      type: apiKey
      in: header
      name: X-RAP-Timestamp
      description: |
        ISO 8601 UTC timestamp (`YYYY-MM-DDTHH:MM:SSZ`). Must be within
        ±300 seconds of engine clock or the request is rejected with 401
        `{ "code": "timestamp_skew" }`.
    HmacKeyId:
      type: apiKey
      in: header
      name: X-RAP-Key-Id
      description: |
        Identifier for the shared secret used to sign. Today: `netlify-prod`.
        Reserved for future key rotation. Unknown key ID → 401
        `{ "code": "unknown_key_id" }`.

  # ---------------------------------------------------------------------
  # Reusable error responses. Each operation lists which ones it can return.
  # All bodies share the `Error` schema below.
  # ---------------------------------------------------------------------

  responses:

    BadRequest:
      description: |
        Request payload failed validation. `code` identifies which field
        or rule failed. Examples: `invalid_email`, `invalid_plan_id`,
        `amount_mismatch`, `missing_field`. `message` is safe to surface
        directly to the end user.

        `/v1/partner/dashboard` emits `validation_failed` (email missing,
        blank or malformed) and, from the shared handler, `bad_json` when
        the body is not valid JSON.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: invalid_plan_id
            message: "Plan ID 'tier-9' is not recognized."
            detail: "Valid: tier-1, tier-2, tier-3."

    Unauthorized:
      description: |
        HMAC signature missing, malformed, or invalid. Possible codes:
        `missing_signature_headers`, `unknown_key_id`, `timestamp_skew`,
        `bad_timestamp`, `invalid_signature`. `message` is intentionally
        terse; engine logs hold the detail. Never expose `detail` to the
        end user — could leak which field varied.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: invalid_signature
            message: "Authentication failed."

    NotFound:
      description: |
        Referenced entity (partner, order, session_token) does not exist.
        `code` examples: `partner_not_found`, `session_token_not_found`,
        `order_not_found`.

        `/v1/partner/dashboard` answers `not_found` both when no dealer
        matches the email and when the dealer matched is not a designer
        (`dealerTypeId != 2`): same code, same message, so the response
        never reveals that a store row exists for that email.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: not_found
            message: "No designer found for that email."

    Conflict:
      description: |
        State conflict — operation can't proceed because something has
        already happened. Examples: `session_token_consumed`,
        `stripe_account_already_linked`, `promo_already_claimed`.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: session_token_consumed
            message: "This onboarding session was already finalized."

    BusinessRuleViolation:
      description: |
        Request was syntactically valid but violates a business rule.
        Examples: `amount_mismatch` (price changed since browsing),
        `customer_already_purchased` (idempotency guard).
        Distinct from 400 because the input is well-formed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: amount_mismatch
            message: "Plan price has changed. Refresh and try again."
            detail: "expected_cents=24900 received_cents=14900"

    RateLimited:
      description: |
        Per-key-ID rate limit exceeded. Includes `Retry-After` header
        (seconds). Suggests backoff to the BFF; the BFF should NOT
        forward this to the user automatically — instead show a generic
        "system busy" message.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: rate_limited
            message: "Too many requests."

    EngineError:
      description: |
        Unexpected engine-side failure. Generic to the caller — engine
        logs carry the stack trace. `code` is always `internal_error`.
        Surface to the user as "Something went wrong on our end. Please
        try again."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: internal_error
            message: "Something went wrong."

    UpstreamUnavailable:
      description: |
        Engine reached but a downstream dependency failed: Stripe API,
        SOAR SQL Server, etc. `code` examples: `stripe_unavailable`,
        `soar_unavailable`. Caller may safely retry after backoff.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: stripe_unavailable
            message: "Payment service is temporarily unreachable."

  schemas:

    # ---- Standard error envelope ------------------------------------------

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            Stable machine-readable code. snake_case. Documented per
            operation. Callers should branch on this, not on
            `message`. Same `code` may appear across multiple HTTP
            statuses if semantically equivalent.
          example: invalid_plan_id
        message:
          type: string
          description: |
            Short human-readable summary. Safe to display to end users
            UNLESS the operation marks otherwise (notably 401 messages
            should not expose detail).
          example: "Plan ID 'tier-9' is not recognized."
        detail:
          type: string
          description: |
            Optional additional context. May or may not be safe for end
            users — caller decides based on `code`. Sometimes carries
            the violated constraint or the expected value.
          nullable: true
          example: "Valid: tier-1, tier-2, tier-3."

    # ---- Shared primitives ------------------------------------------------

    Customer:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          example: Jane Doe
        email:
          type: string
          format: email
          example: jane@example.com
        phone:
          type: string
          description: E.164 format preferred.
          example: "+15551234567"

    # ---- /v1/checkout -----------------------------------------------------

    CheckoutRequest:
      type: object
      required: [plan_id, customer_cart_total_cents, customer]
      properties:
        plan_id:
          type: integer
          description: |
            Foreign key to the `Plans.PlanID` column in SOAR. Numeric ID,
            not a tier string. Frontend gets these from the engine's
            `/api/pricing` endpoint or a future plans catalog endpoint.
          example: 4
        customer_cart_total_cents:
          type: integer
          minimum: 1
          description: |
            The total value of the furniture the customer is buying
            coverage for, in cents. Drives the price band that determines
            the plan cost — same input as the public `/api/pricing`
            endpoint's `totalPaid` query param (just in cents instead of
            dollars).
          example: 500000
        customer:
          $ref: '#/components/schemas/Customer'
        referral_code:
          type: string
          description: |
            Designer's referral code (from `partners.referral_code`, which
            maps to `Dealer.affiliatedId` in SOAR). If present and the
            designer is type=designer with a connected Stripe account, the
            PaymentIntent is created with a TransferData block so the
            commission is transferred on charge success.
          example: ACME-STUDIO
          nullable: true

    CheckoutResponse:
      type: object
      required: [payment_intent_id, client_secret, amount_cents, currency, designer_attributed]
      properties:
        payment_intent_id:
          type: string
          description: |
            Stripe PaymentIntent ID. Use as a client-side reference and
            for support lookups. Survives through the Stripe webhook into
            SoarSales and DesignerTransaction records.
          example: pi_3O9pZkBVVsNLMXy4ILcMcDoT
        client_secret:
          type: string
          description: |
            Stripe client secret for this PaymentIntent. The browser uses
            this with `stripe.confirmPayment({clientSecret, elements})` to
            complete the charge inline (no redirect). NEVER log or persist
            this value beyond the lifetime of the payment confirmation.
          example: pi_3O9pZkBVVsNLMXy4ILcMcDoT_secret_a1B2c3D4e5F6g7H8
        amount_cents:
          type: integer
          minimum: 1
          description: |
            The amount the engine computed for this plan + cart total
            combination. Show to the user before they confirm. Authoritative
            — Stripe will charge exactly this much.
          example: 24900
        currency:
          type: string
          enum: [usd]
          example: usd
        commission_cents:
          type: integer
          minimum: 0
          description: |
            Designer commission, if `referral_code` matched a valid
            Stripe-connected designer. Zero or omitted otherwise.
            Informational — the actual transfer happens via Stripe's
            TransferData when the charge succeeds.
          example: 8715
          nullable: true
        designer_attributed:
          type: boolean
          description: |
            True if a `referral_code` was matched to an active designer
            with Stripe Connect set up and a commission transfer will fire
            on charge success. False if no referral, or the referral was
            invalid, or the designer hasn't completed Stripe onboarding.
          example: true

    # ---- /v1/stripe-connect/start ----------------------------------------

    StripeConnectStartRequest:
      type: object
      required: [partner_id]
      properties:
        partner_id:
          type: string
          format: uuid
          description: Supabase `partners.id`.

    StripeConnectStartResponse:
      type: object
      required: [onboarding_url, session_token, expires_at]
      properties:
        onboarding_url:
          type: string
          format: uri
          description: Stripe-hosted onboarding URL. One-shot, short-lived.
        session_token:
          type: string
          description: |
            Anti-CSRF token; must be passed back to
            `/v1/stripe-connect/return`. Bound to `expectedAccountId` in the
            engine's session store.
        expires_at:
          type: string
          format: date-time

    # ---- /v1/stripe-connect/return ---------------------------------------

    StripeConnectReturnRequest:
      type: object
      required: [partner_id, session_token]
      properties:
        partner_id:
          type: string
          format: uuid
        session_token:
          type: string

    StripeConnectReturnResponse:
      type: object
      required: [status, stripe_account_id]
      properties:
        status:
          type: string
          enum: [connected, in_progress, incomplete]
          description: |
            - `connected`: charges + payouts enabled, ready to earn.
            - `in_progress`: account created, partner returned but Stripe
              still needs more info.
            - `incomplete`: partner abandoned mid-flow.
        stripe_account_id:
          type: string
          example: acct_1AbCdEfG
        charges_enabled:
          type: boolean
        payouts_enabled:
          type: boolean

    # ---- /v1/partner/dashboard -------------------------------------------

    PartnerDashboardRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          description: |
            The signed-in user's email, read by the BFF from the Supabase JWT.
            Trimmed and lowercased by the engine before the lookup. Must be
            non-empty and match `^[^\s@]+@[^\s@]+\.[^\s@]+$`.
          example: adrian01@rapqa.com

    PartnerDashboardResponse:
      type: object
      required:
        - dealer_id
        - affiliated_id
        - dealer_name
        - stripe_status
        - tracked_cents
        - pending_cents
        - payable_cents
        - paid_cents
        - total_sales
        - commissions
      properties:
        dealer_id:
          type: integer
          description: SOAR Dealer.dealerId. The BFF may cache this later.
          example: 421
        affiliated_id:
          type: string
          description: Dealer.affiliatedId, the referral code the checkout attributes on.
          example: AB-RPFG
        dealer_name:
          type: string
          description: Dealer.dealerName. For designers this is the person's name, not a studio.
          example: Adrian Barres
        stripe_status:
          type: string
          enum: [NOT_CONNECTED, PENDING, RESTRICTED, READY]
          description: |
            `StripeService.getAccountStatus().status()`, the enum name in
            uppercase (unlike `/v1/seller-account`, which uses lowercase).
            Degrades on a Stripe failure: `READY` when the dealer has an
            account id, `NOT_CONNECTED` when it does not.
        stripe_account_id:
          type: string
          nullable: true
          description: Dealer.stripeAccountId. Omitted when the designer has none.
          example: acct_1AbCdEfG
        tracked_cents:
          type: integer
          description: pending_cents + payable_cents + paid_cents. Excludes FAILED and CANCELLED.
        pending_cents:
          type: integer
          description: |
            Sum of CommissionAmount where TransferStatus is PENDING or
            PENDING_STRIPE_ONBOARD. Earned but not moving; the designer has
            to connect Stripe.
        payable_cents:
          type: integer
          description: |
            Sum where TransferStatus is PROCESSING or TRANSFERRED. Moving
            through Stripe, lands without any action.
        paid_cents:
          type: integer
          description: Sum where TransferStatus is COMPLETED. Paid out to the bank.
        total_sales:
          type: integer
          description: Count of all commission rows for the dealer, no status filter.
        commissions:
          type: array
          description: Newest first, all rows, no pagination in this phase.
          items:
            $ref: '#/components/schemas/PartnerDashboardCommission'

    PartnerDashboardCommission:
      type: object
      description: |
        One DesignerCommission row joined to its SoarSales row by
        PlanRegistrationID. When the SoarSales row is missing the item still
        appears: `customer_last_name` is empty, `plan_number` is the plan
        registration id, and `customer_email`, `plan_type`, `months_coverage`
        and `months_remaining` are absent. A commission is never dropped
        because its sale is missing.
      required:
        - plan_registration_id
        - purchase_date
        - customer_last_name
        - plan_number
        - retail_paid_cents
        - commission_cents
        - commission_status
        - plan_sent
      properties:
        plan_registration_id:
          type: integer
          example: 12345
        purchase_date:
          type: string
          format: date
          description: |
            SoarSales.planRegistrationDate as YYYY-MM-DD, or the commission's
            created date when the sale row is missing.
          example: "2026-09-09"
        customer_last_name:
          type: string
          description: SoarSales.custLast. Empty string when the sale row is missing.
          example: Estevez
        customer_email:
          type: string
          format: email
          description: |
            SoarSales.custEmail, lowercased. The join key for the client
            pipeline. Absent when the sale row is missing.
          example: qafake005@rapqa.com
        plan_number:
          type: string
          description: SoarSales.warrantyNumber, or the plan registration id when blank.
          example: QAFAKE-W005
        plan_type:
          type: string
          description: SoarSales.planType. Absent when the sale row is missing.
          example: Plan B
        retail_paid_cents:
          type: integer
          description: DesignerCommission.totalSaleAmount as integer cents.
          example: 304000
        commission_cents:
          type: integer
          description: DesignerCommission.commissionAmount as integer cents.
          example: 30400
        commission_status:
          type: string
          enum: [Paid, Pending, Failed, Cancelled]
          description: |
            Mapped from TransferStatus exactly as the old dashboard does:
            COMPLETED is Paid, FAILED is Failed, CANCELLED is Cancelled,
            anything else (PENDING included) is Pending.
        months_coverage:
          type: integer
          description: SoarSales.planTerm. Absent when the sale row is missing.
          example: 36
        months_remaining:
          type: integer
          description: |
            planTerm minus elapsed months since registration, floored at
            zero. Absent when the sale row is missing.
          example: 36
        plan_sent:
          type: boolean
          description: True when SoarSales.planRegistrationDocLink is non-empty.

tags:
  - name: Checkout
    description: Plan purchase flow.
  - name: StripeConnect
    description: Designer payout onboarding via Stripe Express accounts.
  - name: Partner
    description: |
      Read-only sales and commission feed for the partner dashboard on
      thedesignerplan.com, looked up by the signed-in user's email.
